@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./index.css";
.mini-item {
  display: flex;
  align-items: center;
  font-weight: 600;
  transition: color 0.3s ease 0s;
  color: var(--main-color);
}

.active {
  border-radius: var(--border-radius);
  transition: color 0.3s ease 0s;
  color: var(--main-color);
}
